
*:focus {
  outline: 0;
}

* {margin:0;}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }

#content {
  border:0px solid;
  height:99%;
}

#nav {
  height:50px;
  display: block;
  border: 1px solid;
}

#left {
  float:left;
  width:375px;
  border: 1px solid;
  display: inline-block;
  height: 92%;
}

#right {
  overflow-y: scroll;
  border: 1px solid;
  height: 82%;
  line-height: 35px !important;
  font-family: 'Merriweather', serif;
  border-left: 2px solid #c9c9c9;
  border-top: 2px solid #c9c9c9;
  padding: 15px 50px 50px 50px;
  margin-left: 375px;
}

.sections {
  display: inline-block;
  float: left;
  width: 25%;
  background-color: #C5DBEA;
  height: 100%;
}
.pages {
  display: inline-block;
  float: left;
  width: 75%;
  background-color: #EBF2F7;
  height: 100%;
}


#logo {
  float:left;
  display: block;
  border: 1px solid;
  width:375px;
  height: 48px;
}

#menu {
  float:left;
  display: block;
  border: 1px solid;
  width:945px;
  height: 48px;
}

.header {
  position: relative;
  height: 10%;
}

.section_header, .page_header {
  border-bottom: 1px solid black;
}

.section_header p, .page_header p {
  text-align: center;
}


input {
    border: none;
    width: 80px;
    font-size: 14px;
    padding: 2px;
}

.spreadsheet {
  padding: 15px;
}


.spreadsheet input {
  border:0px solid #999;
}

.spreadsheet input:hover {
    background-color: #fafafa;
}

.spreadsheet input:focus {
  border:1px solid #1982d4
}

.spreadsheet input:not(:focus) {
    text-align: right;
}

.spreadsheet table {
    border-collapse: collapse;
}

.spreadsheet td {
    border: 1px solid #999;
    padding: 0;
}

.spreadsheet tr:first-child td {
    background-color: #f4f4f4;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}

.spreadsheet td:first-child {
    background-color: #f4f4f4;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 2.2em;
}

.bing-modal {
  box-sizing: border-box;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -250px;
  height: 500px;
  width: 800px;
  padding: 20px;
  background: #fff;
}

.bing-search {
  width: 99%;
  height: 25px;
  border: 1px solid black
}

.bing-image {
  display: inline-block;
  width: 378px;
  margin: 0 auto;
  height: 45%;
  background-size: cover;
}

.code {
  margin-left: 25px;
}

.codeblock {
  width:700px;
}

.katex {
  font-size: 28px;
}

h1, h2, h3, h4, p, ul, ol, img, table {
  margin-bottom: 25px;
  margin-top: 25px;
}
