body {
  position: relative;
  line-height: 22px;
  font-family: 'Merriweather', serif;
}
.main {
  position: relative;
  height: 90%;
}
.nav {
  width: 300px;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
}

article {
  top: 0;
  bottom: 0;
}
.sections {
  display: inline-block;
  float: left;
  width: 25%;
  background-color: #C5DBEA;
  height: 100%;
}
.pages {
  display: inline-block;
  float: left;
  width: 75%;
  background-color: #EBF2F7;
  height: 100%;
}

.editor {
  margin-left: 300px;
  height: 100%;
  border-left: 2px solid #c9c9c9;
  border-top: 2px solid #c9c9c9;
  padding: 15px 50px 50px 50px;
}

.header {
  position: relative;
  height: 10%;
}

.section_header, .page_header {
  border-bottom: 1px solid black;
}

.section_header p, .page_header p {
  text-align: center;
}


input {
    border: none;
    width: 80px;
    font-size: 14px;
    padding: 2px;
}

.spreadsheet {
  padding: 15px;
}


.spreadsheet input {
  border:0px solid #999;
}

.spreadsheet input:hover {
    background-color: #eee;
}

.spreadsheet input:focus {
  border:1px solid #1982d4
}

.spreadsheet input:not(:focus) {
    text-align: right;
}

.spreadsheet table {
    border-collapse: collapse;  
}

.spreadsheet td {
    border: 1px solid #999;
    padding: 0;
}

.spreadsheet tr:first-child td {
    background-color: #f4f4f4;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}

.spreadsheet td:first-child {
    background-color: #f4f4f4;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 2.2em;
}
