.nav {
  width: 300px; 
  float: left;
}
.sections {
  display: inline-block;
  float: left;
  width: 25%;
  background-color: #C5DBEA;
  height: 90%;
}
.pages {
  display: inline-block;
  float: left;
  width: 75%;
  background-color: #EBF2F7;
  height: 90%;
}
.editor {
  /*display: inline-block;*/
  margin-left: 300px;
}

.editor textarea {
  width: 100%;
  height: 90%;
}

.header {
  height: 10%;
}

.section_header, .page_header {
  border-bottom: 1px solid black;
}

.section_header p, .page_header p {
  text-align: center;
}